---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Summary</div>
  </div>

  <div class="mb-10 text-justify">
     With almost 7 years of experience in Software development, I design, architect, develop, and maintain web applications using Adobe Experience Manager,
     Hubspot CMS, Salesforce, and Wordpress. In addition to my strong understanding of programming languages like HTML, CSS, JavaScript, HubL, and PHP; 
     I have experience working with APIs, and databases such as MySQL, PostgreSQL, and MongoDB. In order to deliver successful projects on time and on budget, 
     I work closely with cross-functional teams to ensure everybody is included and informed throughout the development process. 
  </div>
  
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Software Developer"
      subtitle="From June 2022 to August 2023 at Lighthouse Creative Group, Brooklyn, New York"
    >
      I design, implement, and maintain custom web applications for enterprise clients using Adobe Experience Manager, Hubspot, Salesforce Marketing Cloud, and Wordpress; in addition to providing support and maintenance for existing systems. I work closely with cross-functional teams to ensure that all stakeholders are involved and informed throughout the development process, while delivering successful projects on time and within budget.
    </TimeLineElement>
    <TimeLineElement
      title="Software Developer"
      subtitle="From October 2021 to May 2022 at Greenseed Group, New York, New York"
    >
    Leading development of an eCommerce platform and integrated growth stack including a frontend built with Vuestorefront, Postgres, Segment, customer.io, and Commercetools. Managing and collaborating with developers from vendor teams and agency partners. Oversee platform development from concept to testing. Developing and managing various APIs and databases.
    </TimeLineElement>
    <TimeLineElement
      title="Software Developer, Adobe Experience Manager"
      subtitle="From September 2020 to October 2021 at DT Professional Services, Los Angeles, California"
    >
      Implementing and managing content management platforms for complex, high-volume, transactional websites with high-profile clients. Concepting and implementing enterprise content management solutions based on AEM. Supporting the transfer of AEM into the development and operating environment of the EPD (AEM architecture and staging). Java-based development of release-capable AEM software components and implementing web frontend HTML templates in AEM JSP templates. In addition to development, I also support the product owner in the assessment of requirements with regard to AEM architecture, technologies, internal interfaces or connections to third-party systems.
    </TimeLineElement>
    <TimeLineElement
    title="Front-End AEM Developer"
    subtitle="From February 2020 to August 2020 at Reed Exhibitions, New York, New York"
    >
      Work within Adobe Experience Manager to manage the day-to-day maintenance for different portfolio and conference websites. Tweak CMS to optimize content. Managing requests to ensure website maintenance is released within SLA guidelines. Maintaining internal documentation outlining what information is available on each site.
    </TimeLineElement>
    <TimeLineElement
    title="Web Developer"
    subtitle="From November 2019 to July 2020 at dr LASER, New York, New York"
    >
    Designed and developed a new website for the company, which has increased total web traffic by 36% since its launch. Responsible for full stack web development for all client projects. Implemented Agile/Lean development process across design and development teams. Collaborated and implemented SEO strategy alongside client's Marketing agency.
    </TimeLineElement>
    <TimeLineElement
    title="Senior Analyst- Integration Architecture, Workday"
    subtitle="From May 2019 to November 2020 at Accenture, New York, New York"
    >
    Designed, prototyped, and built Workday systems. Top-to-bottom knowledge of Workday ensuring clients worked smarter. Spotted strategies for clients, explained their pros and cons, and then got working on the best one. Helped clients understand and follow industry standards and practices. Kept Workday working at its best every day by testing and tweaking the system as needed. Weekly travel: Monday-Thursday as needed.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Adobe Experience Manager</li>
    <li>Hubspot CMS</li>
    <li>Salesforce Marketing Cloud</li>
    <li>Wordpress</li>
    <li>Javascript </li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Headless CMS/JAMstack</li>
    <li>MySQL</li>
    <li>API's</li>
    <li>AEM, Salesforce, & Web Forms</li>
    <li>Wireframing</li>
    <li>Prototyping</li>
    <li>Testing</li>
    <li>Debugging</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://app.hubspot.com/academy/achievements/2cpbww6c/en/1/sean-mahoney/hubspot-cms-for-developers" target="_blank">HubSpot CMS for Developers
      </a>
    </li>
  </ul>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Accounting and Internal Aduiting"
      subtitle="2013 to 2018 at Pace Univerysity Lubin School of Business, New York, NY"
    />
    <TimeLineElement
      title="Global Business and Information Systems"
      subtitle="2011 to 2013 at Suffolk University, Boston, MA"
    />
  </div>
</BaseLayout>
