---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
     With almost 7 years of experience in Software development, I design, architect, develop, and maintain web applications using Adobe Experience Manager,
     Hubspot CMS, Salesforce, and Wordpress. In addition to my strong understanding of programming languages like HTML, CSS, JavaScript, HubL, and PHP; 
     I have experience working with APIs, and databases such as MySQL, PostgreSQL, and MongoDB. In order to deliver successful projects on time and on budget, 
     I work closely with cross-functional teams to ensure everybody is included and informed throughout the development process. 
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Adobe Experience Manager</li>
    <li>Hubspot CMS</li>
    <li>Salesforce Marketing Cloud</li>
    <li>Wordpress</li>
    <li>Javascript </li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Headless CMS/JAMstack</li>
    <li>MySQL</li>
    <li>API's</li>
    <li>AEM, Salesforce, & Web Forms</li>
    <li>Wireframing</li>
    <li>Prototyping</li>
    <li>Testing</li>
    <li>Debugging</li>
  </ul>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Accounting and Internal Aduiting"
      subtitle="2013 to 2018 at Pace Univerysity Lubin School of Business, New York, NY"
    />
    <TimeLineElement
      title="Global Business and Information Systems"
      subtitle="2011 to 2013 at Suffolk University, Boston, MA"
    />
  </div>
</BaseLayout>
